body {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

#baner2 { 
    clear: both;
    height: 20px;
    background-color: #000033;
}

#baner1 {
    background-color: #000033;
    height: 80px;
    width: 100%;
    font-family: Arial;
    padding-top: 10px;
    color: white;
}



#menu1, #menu3{
    background-color: #E0E9F1;
    height: 40px;
    padding-top: 10px;
    width: 33%;
    float: left;
}


#menu2 { 
    background-color: #B3C6D9;
    height: 40px;
    width: 34%;
    padding-top: 10px;
    float: left;
}


#lewy, #prawy {
    background-color: #B3C6D9;
    width: 33%;
    height: 400px;
    padding-top: 100px;
    float: left;
}

#srodkowy {
    background-color: #E0E9F1;
    width: 34%;
    height: 400px;
    padding-top: 100px;
    float: left;
}

#stopka {
    clear: both;
    font-family: Arial;
    height: 80px;
    background-color: #000033;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

table, td {
    border: solid 1px black;
    text-align: center;
}

