*{
    font-family: Verdana;
    margin: 0;
}

#menu{
    background-color: sandybrown;
    height: 120px;
    width: 60%;
    float: left;
}

#logo{
    background-color: sienna;
    color: white;
    text-align: center;
    height: 120px;
    width: 40%;
    float: left;
}

#lewy{
    background-color: sienna;
    color: white;
    text-align: left;
    height: 700px;
    width: 60%;
    float: left;
}

#prawy{
    background-color: sandybrown;
    color: white;
    text-align: left;
    height: 700px;
    width: 40%;
    float: left;
}

#stopka{
    background-color: #4D1900;
    color: white;
    text-align: right;
}

#menu > a{
    background-color: green;
    color: yellow;
    padding: 20px 50px 20px 50px;

}

#linki{
    display: table-cell;
    vertical-align: middle;
}

#menu > a:hover{
    background-color: yellow;
    color: green;
}