*{
    font-family: Georgia;
}

#menu, #logo{
    background-color: #63AC74;
    color: orange;
    height: 140px;
    width: 50%;
    text-align: right;
    font-size: 160%;
    float: left;
}

#glowny{
    background-color: #E3F6E7;
    height: 500px;
    padding: 20px;
}

#stopka1, #stopka2, #stopka3, #stopka4{
    background-color: #63AC74;
    height: 150px;
    width: 25%;
    float: left;
}

a{
    color: orange;
    margin: 15px;
}

table{
    width: 100%;
    border: 2px solid green;
}

th{
    background-color: #63AC74;
    color: white;
}

td:last-of-type{
    text-align: right;
}

